```{=html}
<div class="news">
    <% for (const nw of items) { %>
    <div class="news-entry">
        <div class="body">
            <p class="news-desc"><span>&#8226;</span><%= nw.desc %></p>
        </div>
    </div>
    <% } %>
</div>
```